* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}
.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.card .title {
  font-size: 18px;
}
.price {
  color: green;
}

#logo {
  width: 100px;
  height: auto;
}

a:link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
a:visited {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
#prod_titulo
{
    text-align: center;
    padding: 20px;
}
footer {
  color: #000000;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
#novo
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
}
.salvar
{
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
#nome, #preco
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    
}